@charset "UTF-8";


html {
    
}
header {
    width: 768px;
    
}


div#fundomanga {
    width: 768px;
    background-size: cover;
    display: flex;
    align-items: center;
}

div#login {
    height: 100%;
}


footer {
    width: 768px;
}