@charset "UTF-8";


header {
    width: 768px;
    
}

header h1 {
    padding: 30px;
}

nav#menu {
    width: 768px;
}


div#fundomanga {
    background-color: rgb(255, 255, 255);
    background-image: url(../imagens/imgmanga4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 768px;
    height: 506px;
    display: flex;
    align-items: center;
    
    
}

div#login {
    margin: 0;
    height: 100%;
}




footer {
    width: 768px;
}