@charset "UTF-8";

@font-face {
    font-family: manga;
    src: url(../fontes/mangat.ttf);
}

:root {
    --fonte-principal: manga;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #ffffff;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas: 
    "header"
    "main"
    ;
}

main{
    grid-area: main;
    
}



header {
    width: 17.5em;
    height: 6.8125em;
    grid-area: header;
    margin: auto;
    
    
    
    
    
}
h1 {
    font-family: var(--fonte-principal);
    border: 1px solid black;
    background-color: #696969 ;
    font-size: 2em;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-align: center;
    margin-top: 0.9375em;
    
}

nav#menu {
    background-color: white;
    text-align: center;
    width: 17.5em;
    border: 1px solid black;
    height: 1.875em;
    
   
}

nav#menu li:hover {
    background-color: gainsboro;
}



div#fundomanga {
    background-color: #696969;
    background-image: url(../imagens/imgmanga4.webp);
    border: 1px solid black;
    background-size: contain;
    background-repeat: no-repeat;
    width: 17.5em;
    height: 31.25em;
    margin: auto;
    
    
}
div#login {
    background-color: #696969;
    
    border-top: 1px solid black;
    width: 17.4em;
    height: 21.25em;
    margin-top: 9.5625em;
    display: grid;
    justify-items: center;
    align-items: center;
    
}



form#form{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: grid;
    align-items: center;
    justify-content: center;
    
}
form#form label{
    background-color: #696969;
    border: 1px solid black;
    margin: 0.625em;
    padding: 0.3125em;
    display: flex;
    
}

input {
    border: 1px solid black;
    
    
}

img.iconform {
    display: block;
    

}

input#submit {
    width: 120px;
    height: 30px;
    display: block;
    margin: auto;
    background-color: #696969;
    color: white;
    font-family: var(--fonte-principal);
    margin-bottom: 10px;
}