@charset "UTF-8";

@font-face {
    font-family: manga;
    src: url(../fontes/mangat.ttf);
}

:root {
    --fonte-principal: manga;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html, body {
    width: 100vw;
    height: 100vh;
}



body {
    width: 100vw;
    background-color: #ffffffc0;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

main{
    grid-area: main;
    
}



header {
    width: 17.5em;
    grid-area: header;
    margin: auto;
    
    
    
    
    
    
}
h1 {
    font-family: var(--fonte-principal);
    border: 1px solid black;
    background-color: #696969 ;
    font-size: 2em;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-align: center;
    margin-top: 1em;
    
}



nav {
    font-family: var(--fonte-principal);
    background-color: #696969;
    display: none;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}

span#burguer {
    display: block;
    text-align: center;
    background-color: gainsboro;
    padding: 10px;
    cursor: pointer;
}



nav ul {
    list-style-type: none;
    
    
}

li { 
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;

}

li:hover {
    background-color: gainsboro;
}

a {
    text-decoration: none;
    color: black;
}





div#fundomanga {
    background-color: #696969;
    background-image: url(../imagens/imgmanga4.webp);
    border: 1px solid black;
    background-size: contain;
    background-repeat: no-repeat;
    width: 17.5em;
    height: 38.25em;
    margin: auto;
    overflow: hidden;
    z-index: 1;
   
    
    
}
div#login {
    background-color: #696969;
    border-top: 1px solid black;
    width: 17.4em;
    height: 21.25em;
    margin-top: 9.5625em;
    display: grid;
    justify-items: center;
    align-items: center;
    
}

div#login h3 {
    font-family: var(--fonte-principal);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid black;
}

div#login h4 {
    font-family: var(--fonte-principal);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

div#login p {
    text-align: center;
    font-family: var(--fonte-principal);
    color: rgb(0, 0, 0);
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}



form#form{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: grid;
    align-items: center;
    justify-content: center;
    
}
form#form label{
    background-color: #696969;
    border: 1px solid black;
    margin: 0.625em;
    padding: 0.3125em;
    display: flex;
    
}

input {
    border: 1px solid black;
    
    
}

img.iconform {
    display: block;
    

}

input#submit {
    width: 120px;
    height: 30px;
    display: block;
    margin: auto;
    background-color: #696969;
    color: white;
    font-family: var(--fonte-principal);
    margin-bottom: 10px;
}

input#cadastro {
    width: 120px;
    height: 30px;
    display: block;
    margin: auto;
    background-color: #696969;
    color: white;
    font-family: var(--fonte-principal);
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    grid-area: footer;
    margin: auto;
    font-family: var(--fonte-principal);
    text-shadow: 1px 1px 1px black;
    width: 17.5em;
    background-color: #696969;
    color: white;
    margin-top: 10px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}