@charset "UTF-8";

@font-face {
    font-family: manga;
    src: url(../fontes/mangat.ttf);
}

:root {
    --fonte-principal: manga;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





html {
    background-image: url(../imagens/fundomanga.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: #ffffffc0;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

main{
    grid-area: main;
    
}



header {
    width: 17.5em;
    grid-area: header;
    margin: auto;
    
    
    
    
    
    
}
h1 {
    font-family: var(--fonte-principal);
    border: 1px solid black;
    background-color: #696969 ;
    font-size: 2em;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-align: center;
    margin-top: 1em;
    
}

nav#menu {
    background-color: white;
    text-align: center;
    width: 17.5em;
    border: 1px solid black;
    height: 1.875em;
    
   
}

nav ul {
    width: 17.5em;
    background-color: rgb(255, 255, 255);
    list-style: none;
    display: grid;
    grid-template-columns: 2fr 1fr;
    display: none;
    
    
    
}
nav > ul > li {
    display: block;
    text-align: center;
    border: 1px solid black;
    background-color: bisque;
    width: 8.7em;
    height: 6.25em;
    
}

ul a {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: var(--fonte-principal);
    border: 1px solid black;
    display: block;
    text-align: center;
    margin-top: 37px;
    text-decoration: none;
}

li#home {
    background-color: rgb(255, 255, 255);
    
}

li#mal{
    background-color: rgb(55, 79, 214);
    background-image: url(../imagensmenu/myanime.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

li#cruch {
    background-color: rgb(255, 115, 0);
    background-image: url(../imagensmenu/crunch.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

li#rika{
    background-color: rgb(255, 255, 255);
    background-image: url(../imagensmenu/rika.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

li#panini{
    background-color: rgb(255, 208, 0);
    background-image: url(../imagensmenu/panini.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

li#comix {
    background-color: rgb(255, 255, 255);
    background-image: url(../imagensmenu/Cmix.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

li:hover {
    background-image: url(../imagens/Jojo-Menacing-PNG-Photos.png);
    background-size: contain;
    z-index: 2;
}



div#fundomanga {
    background-color: #696969;
    background-image: url(../imagens/imgmanga4.webp);
    border: 1px solid black;
    background-size: contain;
    background-repeat: no-repeat;
    width: 17.5em;
    height: 31.25em;
    margin: auto;
    overflow: hidden;
    
    
}
div#login {
    background-color: #696969;
    
    border-top: 1px solid black;
    width: 17.4em;
    height: 21.25em;
    margin-top: 9.5625em;
    display: grid;
    justify-items: center;
    align-items: center;
    
}



form#form{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: grid;
    align-items: center;
    justify-content: center;
    
}
form#form label{
    background-color: #696969;
    border: 1px solid black;
    margin: 0.625em;
    padding: 0.3125em;
    display: flex;
    
}

input {
    border: 1px solid black;
    
    
}

img.iconform {
    display: block;
    

}

input#submit {
    width: 120px;
    height: 30px;
    display: block;
    margin: auto;
    background-color: #696969;
    color: white;
    font-family: var(--fonte-principal);
    margin-bottom: 10px;
}

footer{
    grid-area: footer;
    margin: auto;
    font-family: var(--fonte-principal);
    text-shadow: 1px 1px 1px black;
    width: 17.5em;
    background-color: #696969;
    color: white;
    margin-top: 10px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}